@page "/consultationSessions/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View</h3>
<FormComponent consultationSession="consultationSession" Disabled="true" />
@code {
	[Parameter] public int id { get; set; }
	ConsultationSession? consultationSession = new ConsultationSession();
	protected async override Task OnParametersSetAsync()
	{
		consultationSession = await
		_client.GetFromJsonAsync<ConsultationSession>($"{Endpoints.ConsultationSessionsEndpoint}/{id}");
	}
}
