@page "/"
@using System.Security.Claims;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime js
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<br />

<!-- ... rest of your component ... -->
@code {
    private List<string> userRoles;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        userRoles = authState.User.Claims
            .Select(c => $"{c.Type}: {c.Value}")
            .ToList();

        await js.InvokeVoidAsync("console.log", "All Claims:", userRoles);
    }
}